{% extends 'base.html' %}

{% block title %}Reset password | Quotes to Scrape{% endblock %}

{% block content %}
<div class="form-box">
    <h2>Forgot your password?</h2>
    <p>Enter the email you registered with and we will send you a link to set a new password.</p>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Send reset link</button>
    </form>
    <p><a href="{% url 'users:login' %}">Back to login</a></p>
</div>
{% endblock %}